<body>
  <div class="container" >
<div class="container-fluid" >
  <!-- {{users.id}} -->
  <div class="form-group">
    <label >User Id: </label>
    <input type="text" class="form-control" name="name">
     <!-- [(ngModel)]="userF.name" placeholder="name"> -->
  </div>
  <div class="form-group">
    <label >Name:</label>
    <input type="text" class="form-control" name="name" >
    <!-- [(ngModel)]="userF.name"> -->
  </div>

  <div class="form-group">
    <label >User Name:</label>
    <input type="text" class="form-control" name="username" >
    <!-- [(ngModel)]="userF.username"> -->
  </div>

  <div class="form-group">
    <label >Email Id:</label>
    <input type="text" class="form-control" name="email" >
    <!-- [(ngModel)]="userF.email"> -->
  </div>

  <div class="form-group">
    <label >Phone Number:</label>
    <input type="text" class="form-control" name="phone" >
    <!-- [(ngModel)]="userF.phone"> -->
  </div>

  <div class="form-group">
    <label >Website:</label>
    <input type="text" class="form-control" name="website">
     <!-- [(ngModel)]="userF.website"> -->
  </div>
  <br>
  <div class="form-group">
    <button class="btn btn-danger" type="submit" (click)="update()">Update</button>
  </div>
</div>
</div>
</body>
